@{
    ViewData["Title"] = "Home Page";
}

<div id="slideshow">
    <div class="slide-wrapper">
        <div class="slide"><img src="~/images/a3.png"></div>
        <div class="slide"><img src="~/images/a2.jpg"></div>
        <div class="slide"><img src="~/images/a1.jpg"></div>
    </div>
</div>
<br />


<div id="sale">
    <div><img src="~/images/s1.png"></div>
</div>


<section class="wrapper">
    <div class="products">
        <ul>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="~/images/ip1.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Điện thoại iPhone 15 Pro Max 256GB</h3>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="~/images/ip1.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Điện thoại iPhone 16 Pro Max 256GB</h3>
                </div>
            </li>
            <li class="main-product">
                <div class="img-product">
                    <img class="img-prd"
                         src="~/images/t1.jpg"
                         alt="">
                </div>
                <div class="content-product">
                    <h3 class="content-product-h3">Máy tính bảng Samsung Galaxy Tab S7 FE 4G</h3>
                </div>
            </li>
            
        </ul>
    </div>
</section>