
@{
	ViewBag.Title = "Giới thiệu";
}

<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="heading-bar">
		<h1 class="title_page">Giới thiệu</h1>
	</div>

	<div class="content-page rte py-3">

		<p>Chào mừng bạn đến với KK Shop, 
			nơi đáp ứng mọi nhu cầu mua sắm và trải nghiệm của bạn!</p>
		<p>Chúng tôi cung cấp đa dạng sản phẩm:</p>
		<div>
			<ul>
				<li>
					<span>Thời trang</span>
					<br>
					<p>
						Quần áo nam nữ theo xu hướng mới nhất.
						<br />
						Phụ kiện thời trang: túi xách, giày dép, trang sức.
					</p>
				</li>
				<li>
					<span>Đồ gia dụng</span>
					<br>
					<p>
						Thiết bị nhà bếp thông minh, đồ dùng tiện ích.
						<br />
						Đồ trang trí nội thất hiện đại, phong cách.
					</p>
				</li>
				<li>
					<span>Công nghệ</span>
					<br>
					<p>
						Điện thoại, máy tính bảng, phụ kiện công nghệ.
						<br />
						Các sản phẩm điện tử gia dụng chính hãng.
					</p>
				</li>
				<li>
					<span>Thực phẩm</span>
					<br>
					<p>
						Thực phẩm sạch, hữu cơ, đặc sản vùng miền.
						<br />
						Đồ uống, bánh kẹo nhập khẩu chất lượng cao.
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
