@{
    ViewBag.Title = "Liên hệ";
}

<div class="ModuleContent">
    <article class="inf h-100">
        <h2 class="h2 text-center text-md-left">KIM KHÁNH SHOP</h2>
        <p>
            <strong>Địa chỉ:</strong> 22 Nguyễn Huệ, Quận Thuận Hoá, Huế
        </p>
        <p><strong>Điện thoại:</strong> 0378923560</p>
        <p><strong>Email:&nbsp;</strong>kimkhanh@gmail.com</p>
    </article><coccocgrammar></coccocgrammar>
</div>
