@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/banner.png" style="width:100%" />
</div>
<br />
<div class="center" style="text-align:center; margin-top:50px">
    <div class="title-custom-section"
         style="text-align: center;
        border-radius:100px;
        background-color: steelblue;
        color:white;
        display: inline-block;
        padding: 10px">
        <h1>DANH MỤC QUẢN LÝ</h1>
    </div>
</div>
<br />
<div class="row" style="display:flex; justify-content: space-between; flex-wrap: wrap-reverse">
    <div class="row1">
        <a href="~/Category">
            <img src="~/images/categoryy.png" style="width:550px; height=250px; margin-top:30px" />
        </a>
    </div>
    <div class="row2">
        <a href="~/Shipper">
            <img src="~/images/shipperr.png" style="width:550px; height=250px; margin-top:30px" />
        </a>
    </div>
    <div class="row3">
        <a href="~/Customer">
            <img src="~/images/customerr.png" style="width:550px; height=250px; margin-top:30px" />
        </a>
    </div>
    <div class="row4">
        <a href="~/Employee">
            <img src="~/images/employeee.png" style="width:550px; height=250px; margin-top:30px" />
        </a>
    </div>
    <div class="row5">
        <a href="~/Supplier">
            <img src="~/images/supplier.jpg" style="width:550px; height=250px; margin-top:30px" />
        </a>
    </div>
    <div class="row6">
        <a href="~/Product">
            <img src="~/images/productt.png" style="width:550px; height=250px; margin-top:30px" />
        </a>
    </div>
</div>

