<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Thông tin liên hệ -->
            <div class="col-md-4">
                <h5>Thông tin liên hệ</h5>
                <p>Địa chỉ: 22 Nguyễn Huệ, Quận Thuận Hoá, Huế</p>
                <p>SĐT: 0987 654 321</p>
                <p>Email: kimkhanh151003@gmail.com</p>
            </div>

            <!-- Liên kết nhanh -->
            <div class="col-md-4">
                <h5>Liên kết nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="~/Home" class="text">Trang chủ</a></li>
                    <li><a href="~/Product" class="text">Sản phẩm</a></li>
                    <li><a href="~/Contact" class="text">Liên hệ</a></li>
                    <li><a href="~/AboutUs" class="text">Giới thiệu</a></li>

                </ul>
            </div>

            <!-- Mạng xã hội -->
            <div class="col-md-4">
                <h5>Kết nối với chúng tôi</h5>
                <a href="https://facebook.com" class="text">Facebook</a>
                <a href="https://instagram.com" class="text">Instagram</a>
                <a href="https://zalo.me" class="text">Zalo</a>
            </div>
        </div>

        <div class="text-center mt-4">
            <p>Bản quyền &copy; 2024-2025 <a href="~/">Tôn Huyền Kim Khánh</a>.</p>
        </div>
    </div>
</footer>
